
/* Tipografía base */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(255, 250, 247, 0.9), rgba(255, 250, 247, 0.9)),
              url('../assets/amigo-secreto2');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
  background: url('../assets/mujeres-abstractas.svg') center/cover no-repeat fixed;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.9);

  max-width: 700px;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  padding: 20px;
}

.header-banner {
  text-align: center;
}

.header-banner img {
  max-width: 150px;
}

.main-title {
  font-size: 2.2rem;
  font-weight: 900;
  color: #e63946;
  margin-bottom: 10px;
}

.section-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #1d3557;
}

.input-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-name {
  flex: 1;
  padding: 8px;
  border: 2px solid #457b9d;
  border-radius: 8px;
  font-size: 1rem;
}

.button-add {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.button-add:hover {
  background-color: #d62828;
}

.mensaje-error {
  color: red;
  font-weight: bold;
  margin-bottom: 8px;
}

.estado-juego {
  font-weight: bold;
  color: #1d3557;
  margin: 10px 0;
}

.name-list {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.name-list li {
  padding: 5px;
  background-color: #f1faee;
  border-radius: 5px;
  margin-bottom: 5px;
}

.success {
  background-color: #a8dadc;
  border-radius: 8px;
  padding: 8px;
  list-style: none;
  margin-top: 15px;
}

.success li {
  background-color: white;
  border-radius: 5px;
  padding: 6px;
  margin: 4px 0;
  font-weight: bold;
  color: #1d3557;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.button-draw {
  background-color: #457b9d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button-draw:hover {
  background-color: #1d3557;
}

.contador {
  margin-top: 10px;
  font-weight: bold;
}
